<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @park.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @park.description %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @park.cover %>
</p>

<p>
  <strong>Images:</strong>
  <%= @park.images %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @park.avatar %>
</p>

<p>
  <strong>Address line 1:</strong>
  <%= @park.address_line_1 %>
</p>

<p>
  <strong>Address line 2:</strong>
  <%= @park.address_line_2 %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @park.post_code %>
</p>

<%= link_to 'Edit', edit_park_path(@park) %> |
<%= link_to 'Back', parks_path %>
